.footer {
    height: 120px;

    ul {
        list-style: none;
        display: flex;
        width: 100px;
        margin: 0 auto;
        justify-content: center;
        padding-top: 15px;


        li {
            margin: 10px;
        }
    }
}