.main-sucursales {

    background-color: #f8389817;
    display: block;

    .txtSuc{
        h1{
            font-size: 36px;
            text-align: center;
        }

        h3 {
            font-size: 24px;
            text-align: center;
        }    
    }

    .map {
        width: 100%;
    }
}